
/* drod fonts */
$drod-reg: 'droid_sansregular';
$drod-bold: 'droid_sansbold';



/* lato fonts */
$lato-light: 'latolight';
$lato-light-ital: 'latolight_italic';

$lato-reg: 'latoregular';
$lato-ital: 'latoitalic';

$lato-black: 'latoblack';
$lato-black-italic: 'latoblack_italic';

$lato-bold: 'latobold';
$lato-bold-ital: 'latobold_italic';

$lato-hairline: 'latohairline';
$lato-hairline-ital: 'latohairlineitalic';

$lato-extra-bold: 'OpenSansExtrabolditalic';
$lato-extra-bold-ital: 'OpenSansExtrabolditalic';

