section.content(data-section="summarise")
  .container
    h2.content_title <span class="content_title--lighted"> summarise the content </span> <br> summarise what
      | your product is all about

    -
      list = {
        "Attractive Layout" : "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.",
        "Fresh Design" : "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.",
        "multipurpose": "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.",
        "Easy to customize": "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar."
      }
    -
      icons = ['thumb_up', 'stay_primary_portrait', 'question_answer','chat_bubble_outline']
    ul.content_list
      - var count=0
      each text, title in list
        li.content_item
          a.content_link(href="#")
            .icon
              i(class="material-icons content_icon")= icons[count]
            .content_list-title= title
            p.content_list-text= text
            - count++
