section.features
  .container
    h2.features_title <span class="features_title--lighted"> summarise the features </span> <br> summarise what
      | your product is all about

    -
      list = {
        "Attractive Layout" : "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.",
        "Fresh Design" : "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.",
        "multipurpose": "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.",
        "Easy to customize": "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar."
      }
    -
      icons = ['thumb_up', 'stay_primary_portrait', 'question_answer','chat_bubble_outline']
    ul.features_list
      - var count=0
      each text, title in list
        li.features_item
          a.features_link(href="#")
            .icon
              i(class="material-icons features_icon")= icons[count]
            .features_list-title= title
            p.features_list-text= text
            - count++
