section.gallery(data-section="gallery")
  .container
    h2.content_title <span class="content_title--lighted">show the gallery </span> <br> summarise what
      | your product is all about

    -
      list = [
      "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.",
      "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.",
      "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.",
      "Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar."
      ]

    ul.content_list
      each val, index in list
        li.content_item.content_item--gallery
          a(href="#" class="gallery_link")
            figure.gallery_img-wrapper
              img(src="/assets/img/gallery.jpg"  class="gallery_img" alt="#")
              figcaption.gallery_figcaption screen shot
            p.content_list-text= val
