section.hero
  div(data-component="slider")
      ul.slider_list
        li.slider_item.active
          .container
            .hero_slogan
              h2.hero_title Simple, Beautiful <span class="hero_title--lighted"> and Amazing </span>
              p.hero_text.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget nunc vitae tellus luctus ullamcorper.
                Nam porttitor ullamcorper felis at convallis. Aenean ornare vestibulum nisi fringilla lacinia. Nullam
                pulvinar sollicitudin velit id laoreet. Quisque non rhoncus sem.
              .hero_buttons
                a.hero_button(href="#") download
                a.hero_button(href="#") learn more

              .hero_available
                .hero_available-text Available on:
                i.hero_available-os.hero_available-os--apple apple
                i.hero_available-os.hero_available-os--android android

        li.slider_item
        li.slider_item
        li.slider_item


