section.content
  .container
    h2.content_title <span class="content_title--lighted"> summarise the content </span> <br> summarise what
      | your product is all about

    ul.package_list
      li.package_item
        .package_title basic package
        .package_price 20$
        ul.package_sub-list
          li.package_sub-item Nullam suscipit vitae
          li.package_sub-item Etiam faucibus
          li.package_sub-item Vivamus viverra

        a(href="#").package_link purchase

      li.package_item
        .package_title professional package
        .package_price 25$
        ul.package_sub-list
          li.package_sub-item Nullam suscipit vitae
          li.package_sub-item Etiam faucibus
          li.package_sub-item Vivamus viverra

        a(href="#").package_link purchase

      li.package_item
        .package_title Advanced package
        .package_price 30$
        ul.package_sub-list
          li.package_sub-item Nullam suscipit vitae
          li.package_sub-item Etiam faucibus
          li.package_sub-item Vivamus viverra

        a(href="#").package_link purchase