section.testimonials.content(data-section="testimonials")
  .container
    h2.content_title <span class="content_title--lighted">Testimonials</span>
    div(data-component="testimonials-slider").animated.slL
      ul.testimonials_list
        li.testimonials_item.slider_item.active
          .testimonials_icon-wrapper
            i.testimonials_icon
          .testimonials_content
            p.testimonials_text.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent lobortis lectus eget libero blandit venenatis.
              In blandit tortor vel congue malesuada. Suspendisse
              molestie lobortis lorem dignissim pretium.
            .testimonials_author.
              john Doe <br> from some company
        li.testimonials_item.slider_item
          .testimonials_icon-wrapper
            i.testimonials_icon
          .testimonials_content
            p.testimonials_text.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent lobortis lectus eget libero blandit venenatis.
              In blandit tortor vel congue malesuada. Suspendisse
              molestie lobortis lorem dignissim pretium.
            .testimonials_author.
              john Doe <br> from some cool and big company
        li.testimonials_item.slider_item
          .testimonials_icon-wrapper
            i.testimonials_icon
          .testimonials_content
            p.testimonials_text.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent lobortis lectus eget libero blandit venenatis.
              In blandit tortor vel congue malesuada. Suspendisse
              molestie lobortis lorem dignissim pretium.
            .testimonials_author.
              john Doe <br> from some powerfool company in the World

