section.video
  .video_content
    iframe.video_content-iframe(src="https://www.youtube.com/embed/yw4p1uJdEkA" frameborder="0" allowfullscreen)
  .video_container
    .video_title Watch the best Technology in <span class="video_title--lighted">Action</span>
    .video_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget nunc vitae tellus luctus ullamcorper. Nam porttitor ullamcorper felis at convallis. Aenean ornare vestibulum nisi fringilla lacinia. Nullam pulvinar sollicitudin velit id laoreet. Quisque non rhoncus sem.