extends ../_main
block title
  title main content
block page
  include _hero
  include _features
  include _gallery
  include _video
  include _price
  include _testimonials
  include _question
  include _map

