.hero {
  height: 100%;
  position: relative;
  border-bottom: 4px solid #4bcaff;
}

.container {
  height: 100%;
}

.hero_slogan {
  position: absolute;
  left: 45%;
  top: 50%;
  margin-right: 25px;
  min-width: 440px;
  max-width: 675px;

  @media (max-width: 835px) {
    left: 13%;
    top: 80px;
  }

  @media (max-width: 550px) {
    left: 5%;
    min-width: 0;
    max-width: 100%;

  }
}

.hero_title {
  @include font(48, $lato-hairline, #fff);
  margin-bottom: 20px;

  &--lighted {
    font-family: $lato-bold;
  }
}

.hero_text {
  @include font(18, $lato-light, #fff);
  margin-bottom: 45px;
}

.hero_buttons {
  margin-bottom: 55px;
}

.hero_button {
  @include font(15, $lato-bold, #fff);
  display: inline-block;
  padding: 22px 50px;
  border: 2px solid #fff;
  border-radius: 8px;
  transition: 0.3s;
  text-transform: uppercase;
  text-decoration: none;

  &:first-child {
    margin-right: 40px;
  }
  
  &:hover {
    background: #4bcaff;
    box-shadow: 0 3px 0 0 darken(rgba(#3da8d5, 0.8), 10%);
  }

  &:active {
    box-shadow: none;
  }

  @media (max-width: 550px) {
    display: block;
    text-align: center;

    &:first-child {
      margin: 0 0 20px 0;
    }
  }
}

.hero_available-text {
  @include font(15, $lato-light, #fff);
  margin-right: 20px;
  line-height: 45px;
}

.hero_available-text,
.hero_available-os {
  display: inline-block;
  vertical-align: top;
}

.hero_available-os {
  @extend %hide-text;
  transition: 0.2s;
  cursor: pointer;

  &--apple {
    @include sprite($apple);
    margin-right: 15px;

    &:hover {
      @include sprite($apple-hover);
    }
  }

  &--android {
    @include sprite($android);

    &:hover {
      @include sprite($android-hover);
    }
  }
}