.package_item {
  display: inline-block;
  width: 300px;
  padding-bottom: 20px;
  border: 1px solid #dad7d7;
  background: #f9f9f9;
}

.package_title {
  @include font(17, $lato-bold, #d7d7d7);
  padding: 20px 10px;
  text-transform: uppercase;
}

.package_price {
  @include font(85, $drod-bold, #fff);
  background: #91c46b;
}

.package_sub-item {
  @include font(17, $lato-bold, #d7d7d7);
  line-height: 25px;
}

.package_sub-list {
  padding: 30px 0;
}

.package_link {
  @include font(15, $lato-bold, #fff);
  display: inline-block;
  padding: 20px 40px;
  background: #91c46b;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  
  &:hover {
    background: lighten(#91c46b, 10%);
  }
}