footer.footer.clearfix
  .copyright Copyright &copy; 2013 | <span class="uppercase">bazinger</span> | All Rights Reserved
  .terms <a href="#" class="terms_link">Terms of Service</a> <a href="#" class="terms_link">Privacy Policy</a>